.item-card {
  margin-bottom: 50px;
  max-width: 20em;
  flex: 1;
  color: black;
  text-decoration: none;
}

.item-card :hover {
  color: black;
  text-decoration: none;
}

.item-card-title {
  text-decoration: none;
}

.item-card-title :hover {
  text-decoration: none;
}
