.checkout-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.App {
  margin: 0 auto;
}

.form {
  width: 50%;
  justify-content: center;
  margin: 0 auto;
}

.card-element {
  width: 80%;
  margin:  0 auto;
  border: 1px solid #aab7c4;
  border-radius: 6px;
}

.checkout-button {
  display: block; 
  margin: 20px auto 0 auto;
  padding: 6px 10px 7px 10px;
  border-radius: 5px;
  color: white;
  background-color: grey;
}

.checkout-button:disabled {
  background-color: lightgray;
}

.purchase-complete-wrapper {
  margin-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.purchase-complete-h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.purchase-complete-button {
  width: 100%
}